.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #131313;

    height:  85px;
    position: fixed;
    z-index: 2;
    overflow: hidden;

    align-items: center;
    left: 0%;
    right: 0%;
    top: 0%

    
}

.left-section {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1.5;
}

.right-section {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 50px;
}


.nav-bar-name {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    color: #ffffff;
    font-weight: bolder;
    text-shadow: 4px 4px 5px rgba(201, 201, 201, 0.308);
}

.nav-bar-name:hover {
    transition: opacity 0.15s;
    opacity: 0.5;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    justify-content: right;
}



.nav-icon {
    vertical-align: middle;
    display: inline-block;
    margin-top: 0px;
    margin-left: 2vw;

}


.nav-bar a {
    color: #ffffffd8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 4px 4px 5px rgba(151, 151, 151, 0.308);

}

.nav-bar a:hover {
    transition: opacity 0.15s;
    opacity: 0.5;
}


@media screen and (min-width: 601px) {
    .nav-icon {
        width: 1.2vw;
        height: auto;
    }
    .nav-bar a {
        margin-left: 4vw;
        font-size: 1.7vw;
    }

    .nav-bar-name {
        font-size: 2vw;
    }

}
  
@media screen and (max-width: 600px) {
    .nav-icon {
        width: 4vw;
        height: auto;
    }
    .nav-bar a {
        margin-left: 1.5vw;
        font-size: 3vw;
    }

    .nav-bar-name {
        font-size: 2.25vw;
    }
}