*
{
    margin: 0;
    padding: 0;
}

.resume {
    height: 100%;

    display: flex;
    flex-direction: row;
}

.container {
    height: 80%;
}

/* ^ Left Side Below ^*/

.resume-left {
    flex: 1;
    background-color: #141414;
}

.rleft-name {
    text-align: center;
    margin-top: 100px;
    font-size: 300%;
    font-weight: 600;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    color: #e2c585;
}

.rleft-job {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

.rleft-about-title {
    font-weight: 600;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 270%;
    color: #e2c585;
    padding-left: 10%;
    padding-right: 10%;

}

.rleft-about-info {
    text-align: center;
    margin-top: 5%;
    font-size: 180%;
    line-height: 130%;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    padding-left: 10%;
    padding-right: 10%;
}

.rleft-about-info:hover {
    transition: opacity 0.15s;
    opacity: 0.5;
}

.rleft-contact-title {
    text-align: center;

    margin-top: 5%;
    font-size: 270%;
    font-weight: 600;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    color: #e2c585;
    padding-left: 10%;
    padding-right: 10%;
}
.rleft-contact-email-title {
    margin-left: 20px;
    margin-top: 30px;

    font-size: 200%;
    font-weight: 600;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    color: #e2c585;
    text-align: center;
}
.rleft-contact-email {
    font-size: 150%;
    text-decoration: underline;
    text-align: center;

}

.rleft-contact-email:hover {
    transition: opacity 0.15s;
    opacity: 0.7;
}
.rleft-contact-discord-title {
    margin-top: 30px;

    margin-left: 20px;
    font-size: 200%;
    font-weight: 600;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    color: #e2c585;
    text-align: center;
}
.rleft-contact-discord {
    font-size: 150%;
    text-decoration: underline;
    text-align: center;
}

.rleft-contact-discord:hover {
    transition: opacity 0.15s;
    opacity: 0.7;
}

/* ^ Left Side Above ^*/

/* ^ Right Side Below ^*/

.resume-right {
    flex: 3;
    background-color: #ffffff;
}

.resume-scrolling-frame {
    margin-top: 100px;
    overflow: auto;
    height: 110%;
}

.resume-scrolling-title {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: #353535;
    font-size: 400%;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgb(73, 73, 73);
}

.resume-grid {
    display: grid;
    grid-template-rows: repeat(6, auto); /* define the height of each row */
    grid-auto-flow: column; /* set the flow direction to column */
    grid-gap: 80px; /* set the gap between grid items */
}

.resume-grid-preview{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-title {
    color: #444444;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.308);

}

.grid-company-name {
    margin: 0;
    margin-top: 5px;
    font-size: 150%;
    color: #444444;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.308);
}

.grid-info {
    margin-top: 8px;
    color: #444444;
    font-size: 1.3vw;
}

.view-1 {
    margin-top: 20px;
    background-color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    border-radius: 10px;
    border-width: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    width: 100%;   
}

.grid-title:hover {
    transition: opacity 0.15s;
    opacity: 0.7;
}

.grid-company-name:hover {
    transition: opacity 0.15s;
    opacity: 0.7;
}

.grid-info:hover {
    transition: opacity 0.15s;
    opacity: 0.7;
}

.view-1:hover {
    transition: opacity 0.15s;
    opacity: 0.9;
}